@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap,Poppins:wght@700&display=swap');
.logo{
    display: flex;
    align-items: center;
}

.pic img{
    width: 300px;
    margin: 150px 80px 150px 130px;
    border-radius: 50%;
    animation: zoomIn 4s ease-in-out infinite alternate;
    box-shadow:  rgba(0, 0, 0, 0.67);
}
.select{
    font-size: 25px;
    margin-top: 300px;
}
input[type=radio]{
    display: inline-block;
    transform: scale(1.2);
}
form{
    width: 400px;
    margin: 150px 0 0 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 7px black;
}
form h1{
    display: flex;
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    justify-content: center;
}
label {
    font-family:'Montserrat', sans-serif;
    display: inline-block;
    margin-bottom: 8px;
}
@keyframes zoomIn {
    to {
        transform: scale(1.12);
        box-shadow: 0px 8px 8px 10px rgba(0, 0, 0, 0.5);
    }
}
.submitButton{
    font-size: 15px;
    width: 90px;
    font-family:'Montserrat', sans-serif;
    cursor: pointer;
    border-radius: 7px;
    background-color: white;
    margin-left: 150px;
}
.submitButton a{
    cursor:default;
}
.submitButton input{
    cursor: pointer;
}
form a{
    display: flex;
    justify-content: center;
    text-decoration: none;

}
form li{
    list-style: none;
}
input{
    display: flex;
}